.header__wrapper-text {
  height: 33px;
  display: flex;
  gap: 24px;
  align-items: center;
}
  
@media screen and (max-width: 767px) {
  .header__wrapper-text {
    flex-direction: column;
    gap: 10px
  }
}