.popup__content-wrapper {
  margin: 26px 0 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
@media screen and (max-width: 767px) {
  .popup__content-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 40px;
  }
}