.header__menu-button {
  display: none;
  width: 24px;
  height: 18px;
  border: none;
  background: transparent;
  background-image: url(../../../images/header-menu.svg);
  background-size: 24px 18px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  transition: opacity .5s linear;
}