.header__button {
  margin: 0;
  color: #fff;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  text-decoration: transparent;
  line-height: 22px;
  transition: opacity .5s linear;
}

@media screen and (max-width: 767px) {
  .header__button {
    font-size: 14px;
    line-height: 17px;
  }
}

.header__button:hover {
  opacity: 0.6;
}